* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  color: #333;
}
.main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  width: 100%;
  overflow-x: auto;
}
.hide {
  display: none !important;
}
.definirRodada {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  overflow-x: hidden;
}
.tabelaUsuario,
.tabelaRodada,
.tabelaPontuacao {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: center;
  overflow-x: auto;
}
#tabelaUsuario_wrapper,
#tabelaRodada_wrapper,
#tabelaPontuacao_wrapper {
  width: 100%;
}
.error {
  color: red !important;
}
.success {
  color: green !important;
}

.btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.selectRodadaAtual {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.alterarTimes {
  max-width: 100%;
}

.formAlterarTimes {
  display: flex;
  flex-wrap: wrap;
    align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.timesExemplos {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.timesExemplos p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: .5rem;
}

.timesExemplos p:hover {
  text-decoration: underline;
  transform: scale(1.05);
}

.exampleTimeInput {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .btns {
    flex-direction: column;
  }
}
